<!DOCTYPE html>
<script type="text/javascript" src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
<link rel="shortcut icon" href="#" />

<html lang="en">
	<title>Example of Graphs</title>
	<meta charset="UTF-8">
	<meta http-equiv="Content-type" content="text/html">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<body>
		<canvas id="myChart"></canvas>
		<canvas id="myChart2"></canvas>
		<canvas id="myChart3"></canvas>
		{% block javascript %}
			<script type="text/javascript">
				data = {{ChartObj.toJson()|safe}};//COuld make this a window object
				window.myLineChart3 =new Chart(document.getElementById("myChart"),data);
			</script>
			<script type="text/javascript">
				data = {{ChartObj2.toJson()|safe}};//COuld make this a window object
				window.myLineChart3 =new Chart(document.getElementById("myChart2"),data);
			</script>

			<script type="text/javascript">
				data = {{ChartObj3.toJson()|safe}};//COuld make this a window object
				window.myLineChart3 =new Chart(document.getElementById("myChart3"),data);
			</script>
		{% endblock %}

	</body>
</html>
